<!-- Header partial -->

<div style='background:lightblue; padding:10px'>
  <h2 style='text-align:center'>Welcome to TinyApp!!</h2>
  <h3 style='text-align:center'> -- where we make your URLs tiny -- </h3>
</div>

<div style='background:lightblue; padding:10px'>



<div style='background:lightblue; padding:10px'>
  <a href='/urls'>Home</a>
</div>
