<!-- Header partial -->
<div style='font-family:sans-serif; text-align:center'>

  <h1>Welcome to TinyApp!!</h1>
  <img src='http://www.stateofdigital.com/wp-content/uploads/2011/05/expand-short-url.jpg' />

  <div style='padding:10px'>

    <% if (user) { %>
      Welcome <%= user.name %> (<%= user.email %>)!

      <form method='POST' action='/logout?_method=DELETE' style='display:inline-block' >
        <input type='submit' value='Logout' style=" font-size: 18px;">
      </form>

      <div>
        <a href='/urls'>My Links</a>
      </div>

    <% } else { %>

      <a href='/login'>Login</a>
      or
      <a href='/register'>Register</a>

    <% } %>
  </div>
</div>
