<!-- Header partial -->
<div style='font-family:sans-serif'>

  <div style=text-align:center>
    <h1 style='text-align:center'>Welcome to TinyApp!!</h1>
    <img src='http://www.stateofdigital.com/wp-content/uploads/2011/05/expand-short-url.jpg' />
  </div>

  <div style='padding:10px; text-align:center'>

  <% if(user) { %>
      Welcome <%= user.name %> (<%= user.email %>)!


    <form action='/logout' method='POST' style='display:inline-block' >
      <input type='submit' value='Logout' style="font-family: sans-serif; font-size: 18px;">
    </form>

    <div>
      <a href='/urls'>My Links</a>
    </div>
  <% } else { %>

    <a href='/register'>Register</a>
    <a href='/login'>Login</a>

  <% } %>
</div>
