<!-- shows the short and long form of a specific URL -->

<!DOCTYPE html>
<html>
<head>
  <title>Login></title>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>


  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
