<!--
if logged in only: show site header and form with text input field for original URL
and submit (POST /urls) button;
-->

<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Create New URL</title>
  <meta charset='utf-8'>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>

  <div style="font-family: sans-serif; text-align: center">
    <h3>Shorten your URL</h3>

    <p>
      Note: address must start with http://
    </p>

    <form action='/urls' method='POST' style='margin:auto;'>
      <input id='longURL' type='text' name='longURL' placeholder='http://' style='width: 300px; font-family: sans-serif; font-size: 14px'>
      <input type='submit' value='Submit' style="font-size: 18px;">
    </form>
  </div>

  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
