<!-- provides a URL submission form to get a short URL from a long one -->

<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>TinyApp Submission</title>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>

    <div style="font-family: sans-serif; text-align: center">
      <h3>Shorten your URL here</h3>
      <form action='/urls' method='POST' style='margin:auto;'>
        <label for='longURL'>Enter a URL:</label>
        <input id='longURL' type='text' name='longURL' placeholder='http://' style='width: 300px; font-family: sans-serif; font-size: 14px'>
        <input type='submit' value='Submit' style="font-family: sans-serif; font-size: 18px;">
      </form>
    </div>

    <footer>
      <% include partials/_footer %>
    </footer>
  </body>
</html>
