<!-- shows the short and long form of a specific URL -->

<!DOCTYPE html>
<html>
<head>
  <title>Login></title>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>

  <% if(!user) { %>
    <form action='/login' method='POST'>
      Email: <input type='email' name='email'>
      Password: <input type='password' name='password'>
      <button>submit</button>
    </form>
  <% } else { %>
    THIS SHOULD NOT BE SHOWING
  <% } %>

  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
