<!-- shows the short and long form of a specific URL -->

<!DOCTYPE html>
<html>
<head>
  <title>TinyApp <%= shortURL %></title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>

  <h1>ShortURL: <%= shortURL %></h1>

  <form action='/urls/<%= shortURL %>' method='POST'>
    <input id='longURL' type='text' name='longURL' placeholder='<%= urls[shortURL] %>' style='width: 300px'>
    <input type='submit' value='Update'>
  </form>
</body>
</html>
