<!-- custom error page responding to HTTP status codes -->

<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Error :(</title>
  <meta charset='utf-8'>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>

  <div style='font-family: sans-serif; text-align: center'>
    <h3 style='color:darkred'>Warning:</h3>
    <p>
      <%= message %>
    </p>

    <img src="https://http.cat/<%=statusCode%>'" alt='' style='width:100%; max-width:700px'>
  </div>

  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
