<!-- lists all URLS - short and long form -->

<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp Index</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  

  <ul>
    <% for (var prop in urls) { %>
      <li>
        <%= urls[prop] %> - <%= prop %>
      </li>
    <% } %>
</ul>

<a href='/urls/new'>Link to shorten a URL</a>
</body>
</html>
