<!-- provides a URL submission form to get a short URL from a long one -->

<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>TinyApp Submission</title>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>
    
    <h1>Shorten your URL here</h1>
    <form action='/urls' method='POST' style='margin:auto;'>
      <label for='longURL'>Enter a URL:</label>
      <input id='longURL' type='text' name='longURL' placeholder='http://' style='width: 300px'>
      <input type='submit' value='Submit'>
    </form>

    <footer>
      <% include partials/_footer %>
    </footer>
  </body>
</html>
