<!-- 404 page -->
TODO: everything.

<!DOCTYPE html>
<html>
<head>
  <title>TinyApp <%= shortURL %></title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>

  Page not found!
  <img src='https://http.cat/404' alt='404! Page not found.' style='width:100%;'>

  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
